<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>SB Admin 2 - Bootstrap Admin Theme</title>

</head>

<body>

<th:block layout:fragment="content">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="list.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Board Read</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Board Read
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                                <div class="form-group">
                                    <label>Bno</label> <input class="form-control" name='bno' th:value="${board.bno}" readonly="readonly">
                                </div>

                                <div class="form-group">
                                    <label>Title</label> <input class="form-control" name='title' th:value="${board.title}" readonly="readonly">
                                </div>

                                <div class="form-group">
                                    <label>Text area</label>
                                    <textarea class="form-control" rows="3" name='content' th:text="${board.content}" readonly="readonly"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Writer</label> <input class="form-control" name='writer' th:value="${board.writer}" readonly="readonly">
                                </div>

                                <sec:authorize access="isAuthenticated()">
                                    <button th:if="${#authentication.principal.username eq board.writer}" data-oper="modify" class="btn btn-default" th:onclick="'location.href=\'/board/modify?bno='+${board.bno}+'\''">Modify</button>
                                </sec:authorize>

                                <button data-oper="list" class="btn btn-info" onclick="location.href='/board/list'">List</button>

                            <form id="openForm" action="/board/modify" method="get">
                                <input type="hidden" id="bno" name="bno" th:value="${board.bno}">
                                <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
                                <input type="hidden" name="amount" th:value="${cri.amount}">
                                <input type="hidden" name="keyword" th:value="${cri.keyword}">
                                <input type="hidden" name="type" th:value="${cri.type}">
                            </form>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class='row'>
                <div class="col-lg-12">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i> Reply
                            <sec:authorize access="isAuthenticated()">
                            <button id="addReplyBtn" class="btn btn-primary btn-xs pull-right">New Reply</button>
                            </sec:authorize>
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <!-- start reply -->

                                <!-- end reply -->
                            </ul>
                            <!-- ./ end ul -->
                        </div>
                        <!--/.panel .chat-panel -->
                        <div class="panel-footer">

                        </div>
                    </div>

                </div>
                <!-- ./ end row -->
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">REPLY MODAL</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reply</label>
                        <input class="form-control" name='reply' value='New Reply!!!'>
                    </div>
                    <div class="form-group">
                        <label>Replyer</label>
                        <input class="form-control" name='replyer' value='replyer'>
                    </div>
                    <div class="form-group">
                        <label>Reply Date</label>
                        <input class="form-control" name='replyDate' value=''>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalModBtn" type="button" class="btn btn-warning">Modify</button>
                    <button id="modalRemoveBtn" type="button" class="btn btn-danger">Remove</button>
                    <button id="modalRegisterBtn" type="button" class="btn btn-primary">Register</button>
                    <button id="modalCloseBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <script type="text/javascript" src="/js/reply.js"></script>

    <!--<script th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function (){
            var getboard=/*[[${board}]]*/;

            for(var i=1; i<=304; i++) {
                replyService.add(
                    {reply: "JS TEST"+i, replyer: "tester"+i, board: getboard},
                    function (result) {
                        alert("RESULT: " + result);
                    }
                );
            }

        });
        /* ]]> */
    </script>-->

    <script th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function(){

            var bnoValue=/*[[${board.bno}]]*/;
            var getBoard=/*[[${board}]]*/;
            var replyUL=$(".chat");

            showList(1);

            function showList(page){

                replyService.getList({bno:bnoValue, page: page||1}, function(replyCnt, list){

                    if (page == -1) {

                        pageNum = Math.ceil(replyCnt / 10.0);
                        showList(pageNum);
                        return;
                    }
                    var str = "";
                    if (list == null || list.length == 0) {
                        replyUL.html("");
                        return;
                    }

                    for (var i = 0, len = list.length || 0; i < len; i++) {

                        str+="<li class='left clearfix' data-rno='"+list[i].rno+"'>";
                        str+="<div><div class='header'><strong class='privmary-font'>"+list[i].replyer+"</strong>";
                        str+="<small class='pull-right text-muted'>"+replyService.displayTime(list[i].modifiedDate)+"</small></div>";
                        str+="<p>"+list[i].reply+"</p></div></li>";
                    }

                    replyUL.html(str);

                    showReplyPage(replyCnt);
                });
            }

            var modal = $(".modal");
            var modalInputReply = modal.find("input[name='reply']");
            var modalInputReplyer = modal.find("input[name='replyer']");
            var modalInputReplyDate = modal.find("input[name='replyDate']");

            var modalModBtn = $("#modalModBtn");
            var modalRemoveBtn = $("#modalRemoveBtn");
            var modalRegisterBtn = $("#modalRegisterBtn");

            $("#addReplyBtn").on("click", function (e){

                modal.find("input").val("");
                modalInputReplyDate.closest("div").hide();
                modal.find("button[id != 'modalCloseBtn']").hide();

                modalRegisterBtn.show();

                $(".modal").modal("show");
            });

            modalRegisterBtn.on("click", function (e){

                var reply={
                    reply:modalInputReply.val(),
                    replyer:modalInputReplyer.val(),
                    board:getBoard
                };

                replyService.add(reply, function(result){

                    alert(result);

                    modal.find("input").val("");
                    modal.modal("hide");

                    showList(-1);
                });
            });

            $(".chat").on("click","li",function (e){

                var rno = $(this).data("rno");

                replyService.get(rno, function (reply) {

                    modalInputReply.val(reply.reply);
                    modalInputReplyer.val(reply.replyer);
                    modalInputReplyDate.val(replyService.displayTime(reply.modifiedDate)).attr("readonly", "readonly");
                    modal.data("rno", reply.rno);

                    modal.find("button[id!='modalCloseBtn']").hide();
                    modalModBtn.show();
                    modalRemoveBtn.show();

                    $(".modal").modal("show");
                });
            });

            modalModBtn.on("click",function (e){

                var reply={rno:modal.data("rno"), reply:modalInputReply.val(), replyer:modalInputReplyer.val()};

                replyService.update(reply, function (result){
                    alert(result);
                    modal.modal("hide");
                    showList(pageNum);
                });
            });

            modalRemoveBtn.on("click", function (e){

                var rno=modal.data("rno");

                replyService.remove(rno, function (result){

                    alert(result);
                    modal.modal("hide");
                    showList(pageNum);
                });
            });

            var pageNum=1;
            var replyPageFooter=$(".panel-footer");

            function showReplyPage(replyCnt){

                var endNum=Math.ceil(pageNum/10.0)*10;
                var startNum=endNum-9;

                var prev=startNum!=1;
                var next=false;

                if(endNum*10>=replyCnt){
                    endNum=Math.ceil(replyCnt/10.0);
                }

                if (endNum * 10 < replyCnt) {
                    next=true;
                }

                var str="<ul class='pagination pull-right'>";

                if(prev){
                    str+="<li class='page-item'><a class='page-link' href='"+(startNum-1)+"'>Previous</a></li>";
                }

                for (var i = startNum; i <= endNum; i++) {

                    var active = pageNum == i?"active":"";

                    str+="<li class='page-item "+active+" '><a class='page-link' href='"+i+"'>"+i+"</a></li>";
                }

                if(next){

                    str+="<li class='page-item'><a class='page-link' href='"+(endNum+1)+"'>Next</a></li>";
                }

                str+="</ul></div>"

                console.log(str)

                replyPageFooter.html(str);
            }

            replyPageFooter.on("click", "li a", function (e){

                e.preventDefault();
                console.log("page click");

                var targetPageNum = $(this).attr("href");

                pageNum=targetPageNum;

                showList(pageNum);
            })

        });

        /* ]]> */
    </script>

    <!--<script th:inline="javascript">
        /* <![CDATA[ */
        console.log("JS TEST")

        var getbno=/*[[${board.bno}]]*/;
        var getboard=/*[[${board}]]*/;

        replyService.add(
            {reply:"JS TEST", replyer:"tester", board:getboard},
            function (result){
                alert("RESULT: "+result);
            }
        );
        replyService.add(
            {reply:"JS TEST", replyer:"tester1", board:getboard},
            function (result){
                alert("RESULT: "+result);
            }
        );
        replyService.add(
            {reply:"JS TEST", replyer:"tester2", board:getboard},
            function (result){
                alert("RESULT: "+result);
            }
        );


        replyService.getList({page:1, bno:getbno}, function(list){

            for(var i=0, len=list.length||0; i<len; i++){
                console.log(list[i]);
            }
        });
        replyService.remove(1, function (count){
            console.log(count);

            if(count=="success"){
                alert("REMOVED");
            }
        }, function(err){
            alert('ERROR...');
        });

        replyService.update({
            rno:1,
            reply : "modified reply..",
            replyer : "modified replyers."
        }, function (result){
            alert("수정 완료...");
        });

        /* ]]> */
    </script>-->

    <script type="text/javascript">
        $(document).ready(function (){

            var openForm=$("#openForm");

            $("button[data-oper='modify']").on("click",function(e){
                openForm.attr("action", "/board/modify").submit();
            });

            $("button[data-oper='list']").on("click",function(e){
                openForm.find("#bno").remove();
                openForm.attr("action", "/board/list");
                openForm.submit();
            });

        });
    </script>

    <!--    <script th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function (){

            var openForm=$("#openForm");

            $("button[data-oper='modify']").on("click",function(e){
                openForm.attr("action", "/board/modify").submit();
            });

            $("button[data-oper='list']").on("click",function(e){
                openForm.find("#bno").remove();
                openForm.attr("action", "/board/list");
                openForm.submit();
            });

        });

        /* ]]> */-->
</th:block>
</body>
</html>
