<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form th:action="@{/signup}" method="post">
    <input type="text" name="userid" placeholder="account 입력">
    <input type="text" name="username" placeholder="user name 입력">
    <input type="password" name="userpw" placeholder="password 입력">
    <input type="number" name="authid" placeholder="권한 입력">
    <button type="submit">가입하기</button>
</form>
</body>
</html>